
header {
    background-image: url("/assets/img/bg-pattern-intro-mobile.svg"), var(--background-header);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 1000px;
    height: 600px;
    border-bottom-left-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em 0 2em;
}

.container__header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 4em;
}

.navegacao {
    background: var(--white-text);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    display: none;
}

.active {
    position: absolute;
    display: block;
    width: 350px;
    top: 150px;
    left: 33px;
   
}

#btn-mobile {
    background-image: url("/assets/img/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
}

.lista__itens {
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 90%;
}

.menu1__link,
.login,
.signup {
    text-decoration: none;
    color: var(--dark-blue);
    font-family: var(--font-tittle);
    font-weight: 600;
}

.lista__menu1 {
    padding-bottom: 2em;
}

.signup {
    color: var(--white-text);
    
}

.lista__login {
    padding-bottom: 1.5em;
}

.lista__signup {
    background: var(--background-header);
    width: 120px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo__principal {
    font-family: var(--font-tittle);
    font-weight: 600;
    color: var(--white-text);
    font-size: 35px;
    text-align: center;
    padding-top: 3em;
}

.texto__principal{
    font-family: var(--font-text);
    color: var(--white-text);
    text-align: center;
    font-size: 18px;
    padding-top: 1.5em;
}

.links__header {
    padding-top: 4em;
    display: flex;
    align-items: center;
    gap: 2em;
}

.start_list {
    background-color: var(--white-text);
    width: 140px;
    height: 40px;
    border-radius: 100px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.learn__list {
    border: 1px solid var(--white-text);
    width: 140px;
    height: 40px;
    border-radius: 100px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.start__link {
    text-decoration: none;
    color: var(--light-red-text);
    font-weight: 700;
}

.learn__link {
    text-decoration: none;
    color: var(--white-text);
    font-weight: 700;
}
