
header {
    background-image: url("/assets/img/bg-pattern-intro-mobile.svg"), var(--background-header);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 1000px;
    height: 600px;
    border-bottom-left-radius: 100px;
}